 
 
 

/*=============
 == Nav Bar === 
 ==============*/
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    background: #eff2ff ;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 2em;
    color: black;
  }
  /* Slik at da jeg holder over navbar, vil de endre farge */
  .navigation a:hover {
    background: #dfe0dc;
  }

  /*Endrer hvordan det ser ut på ulike skjermer*/

  /* Medium skjerm */
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }

  /* Liten skjerm */
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }

body {
    background-color:#d9d9d9;
}
.SideNav {
    text-align: center;
}